@font-face {
  font-family: 'HarmonyOS_Sans_SC';
  src: url('@/public/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS_Sans_SC';
  src: url('@/public/fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS_Sans_SC';
  src: url('@/public/fonts/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS_Sans_SC';
  src: url('@/public/fonts/HarmonyOS_Sans_SC_Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS_Sans_SC';
  src: url('@/public/fonts/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS_Sans_SC';
  src: url('@/public/fonts/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

*{
  font-family: 'HarmonyOS_Sans_SC', sans-serif;
}
*::-webkit-scrollbar{
  display: none;
}

.button_active_full {
  height: 12.6168vw;
  background-color: #0065FF;
  font-size: 4.2056vw;
  font-weight: 500;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.button_active_plain {
  height: 12.6168vw;
  background-color: #fff;
  font-size: 4.2056vw;
  font-weight: 500;
  border-radius: 9px;
  border: 1px solid #0065FF;
  color: #0065FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ion-page {
  justify-content: flex-start;
  background-color: #fff;
}
img {
  height: auto;
}
.content {
  min-height: 100vh;
  padding: 8.8785vw 4.6729vw 36.6916vw;
  overflow-y: scroll;

  // padding-top: env(safe-area-inset-top);
  // padding-bottom: env(safe-area-inset-bottom);
}

body{
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

// Hide all elements
body.barcode-scanner-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

// Show only the barcode scanner modal
.barcode-scanner-modal {
  visibility: visible;
}

// @media (prefers-color-scheme: dark) {
//   .barcode-scanner-modal {
//     --background: transparent;
//     --ion-background-color: transparent;
//   }
// }

.code-scanning {
  visibility: hidden;
  overflow: hidden;
}

.code-scanner {
  visibility: visible;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}